@import '../../scss/colors.module.scss';

.table {
  line-height: 1rem;
  border-collapse: collapse;
  margin: 0.5rem 0 0;
  font-size: 0.85em;
  font-variant-numeric: lining-nums tabular-nums;
  width: 100%;

  @media only screen and (max-width: 640px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  caption,
  th {
    text-align: left;
  }

  colgroup:not(:first-child) {
    border-left: 1px solid $color-slate-300;
  }

  td {
    text-align: right;
    padding: 0.5rem;
  }

  caption {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  th {
    span {
      display: block;
      font-size: 0.75rem;
    }

    &[scope='col'] {
      text-align: right;
    }

    &[scope='colgroup'] {
      font-size: 1.25em;
      padding: 0 0.5rem;
    }
  }

  thead {
    border-bottom: 1px solid $color-slate-400;

    th {
      padding: 0 0.5rem 0.5rem;
      vertical-align: bottom;
    }
  }

  tbody {
    th {
      font-weight: normal;
    }

    tr {
      border-bottom: 1px solid $color-slate-200;
    }

    td ul {
      margin: 0;
    }
  }
}
